

header{
    height: 150px;
}

header img{
    height: 100px;
    width: auto;
}

#top{
    display: flex;
    justify-content: space-between;
}

#add{
    border-radius: 3%;
    background-color: lightblue;
    border-style: none;
    border-radius: 10%;
}

@media screen and (max-width: 767px) {
    .vanish{
        display: none;
    }
}

i{
    border: 1px solid black;
    margin-right: 10%;
    padding: 5%;
}

i:hover{
    background-color: grey;
}

.border-grey{
    border: 1px solid lightgrey;   
}

.top{
    background-color: lightgray;
    padding: 5%;
}

